*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    font-size: 32px;
    color: #9e9292d3;
}
input{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    color: #877272;
}
.mark::after{
    display: block;
    content: '*';
    top: 0;
    right: -12px;
    position: absolute;
    color:#DD7979;
}
.img {
    max-width: 100%;
    height: auto;
}
.section__title{ 
    font-weight: 500;
    font-size: 38px;
    line-height: 48px;
    position: relative;
    color: #744343;
}


/*header start*/
.header{
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 8px 10px 17px rgba(0, 0, 0, 0.05);
}
.header__wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.intro{
    background: url(../img/OziBg.jpg) center;
    background-size: cover;
}
/*header end*/

/*wrepper start*/
.wrapper{
    max-width: 1260px;
    margin: 0 auto;
}

.wrapper-full{
    max-width: 1262px;
    margin: 0 auto;
    padding: 0 15px;
}
/*wrepper end*/

/*info start*/
.wrapper__info{
    margin: 0 auto;
    padding: 140px 40px 10px;
}

.info{
    width: 500px;
    padding: 20px 32px;
    box-shadow: 0 4px 16px #cccc;
    font-family: 'Lato';
    background-color: rgba(255, 210, 135, 0.65);;
    box-shadow: 8px 10px 17px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    
}
.info__title{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.info__title-top{
    margin-bottom: 9px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;

    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #DD7979;
}
.info__items{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.info__item{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-evenly;
}
.info__title-log{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 28px;
    color: #744343;
    margin-bottom: 15px;
}
.info__sub-title-log{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: rgba(116, 67, 67, 0.55);
    margin-bottom: 15px;
}
/*info end*/

/*top start*/


/*top end*/

/*form start*/
.icon__logo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.form{    
    width: 500px;
    padding: 0 90px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    font-family: 'Lato';
    background: rgba(255, 210, 135, 0.85);
    box-shadow: 8px 10px 17px rgba(0, 0, 0, 0.10);
}
.form__container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.form__logo{
    margin: 25px 0 10px;
}
.form__input-items{
margin-bottom: 20px;
}
.form__input{
    margin-bottom: 20px;
}
.form__buttons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.form__button{
    padding: 13px 112px;
    
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;

    background: #DD7979;;
    color: white;
    font-family: 'Lato';
    
    text-decoration: none;
    text-align: center;

    border: none;
    border-radius: 10px;

    margin-bottom: 10px;
}
.form__button:last-child{
    margin-bottom: 40px;
}
.btn__1:hover,.btn__1:focus,.btn__1:active{
    background:#d35f5f;
}
.btn__2{
    background: #B098EE;
    padding: 13px 120px;
}
.btn__2:hover,.btn__2:focus,.btn__2:active{
    background: #927de6;
}
.form__title-button{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: rgba(116, 67, 67, 0.55);
    margin-bottom: 15px;
/* identical to box height */


color: #B1856E;
}
/*form end*/

.date__input{
    width: 200px;
    max-width: 200px;
}

.check__date{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.custom-checkbox{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: rgba(116, 67, 67, 0.55);
    margin-bottom: 15px;
}
.custom-checkbox>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  .custom-checkbox>span {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  .custom-checkbox>span::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #744343;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
  .custom-checkbox>input:not(:disabled):not(:checked)+span:hover::before {
    border-color: #da6b55;
  }
  .custom-checkbox>input:not(:disabled):active+span::before {
    background-color: #da6b55;
    border-color: #da6b55;
  }
  .custom-checkbox>input:focus:not(:checked)+span::before {
    border-color: #da6b55;
  }
  .custom-checkbox>input:checked+span::before {
    border-color: #744343;
    background-color: #744343;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }
  .custom-checkbox>input:disabled+span::before {
    background-color: #e9ecef;
  }
  input[type="text"] {
    position: relative;
    background-color: rgba(255, 210, 135, 0.1);
	text-align: center;
	outline: none; 
    padding: 10px 20px;
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
	border: 1px solid #744343;
	font-size: 20px;
    color: rgba(116, 67, 67, 0.55);
	border-radius: 13px;
} 
/*footer start*/
.footer{
    background-color: #B098EE;
    padding: 80px 0 10px;
    color: #ffffff;
}

.footer__logo{
    margin-bottom: 20px;
}
.footer__nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer__menu-title{
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
}
.footer__menu-item{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;

    color: rgba(255, 255, 255, 0.6);

    list-style-type: none;
}
.footer__menu-link{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);;
}
.footer__rights{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footer__right{
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

text-align: center;
letter-spacing: 0.3px;

color: #FFFFFF;
}
/*footer end*/