*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    line-height: 1.1;
    font-size: 26px;
    color: #9e9292d3;
}
input{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #877272;
}
.mark::after{
    display: block;
    content: '*';
    top: 0;
    right: -12px;
    position: absolute;
    color:#DD7979;
}
.img {
    max-width: 100%;
    height: auto;
}
.section__title{ 
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    position: relative;
    padding-bottom: 28px;
    color: #744343;
}
.section__title::after{
    display: block;
    content: '';
    width: 380px;
    height: 2px;
    background-color: #DD7979;
    position: absolute;
    bottom:0; 
}

/*header start*/
.header{
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 300;
    box-shadow: 8px 10px 17px rgba(0, 0, 0, 0.25);
}
.header__wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.intro{
    background: url(../img/OziBg.jpg) center;
    background-size: cover;
}
/*header end*/

/*wrepper start*/
.wrapper{
    max-width: 1260px;
    margin: 0 auto;
}

.wrapper-full{
    max-width: 1262px;
    margin: 0 auto;
    padding: 0 15px;
}
/*wrepper end*/

/*conteiner start*/
.container {
	max-width: 240px;
    max-height: 240px;
	width: 100%;
	background: #fff;
	
	border-radius: 30px;
}
.img-area {
	position: relative;
	width: 100%;
	height: 225px;
	background: rgb(222, 222, 222);
	margin-bottom: 30px;
	border-radius: 15px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
    text-align: center;
}
.img-area .icon {
	font-size: 100px;
}
.img-area h3 {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 6px;
    color: #5c5c5c;
}
.img-area p {
    padding: 2px 5px;
	color: #5c5c5c;
}
.img-area p span {
	font-weight: 600;
}
.img-area img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	z-index: 100;
}
.img-area::before {
	content: attr(data-img);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    background: rgba(0, 0, 0, .5);
	color: #fff;
	font-weight: 500;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	opacity: 0;
	transition: all .3s ease;
	z-index: 200;
}
.img-area.active:hover::before {
	opacity: 1;
}
.select-image {
	display: block;
	width: 100%;
	padding: 16px 0;
	border-radius: 15px;
	background: #DD7979;
	color: #fff;
	font-weight: 500;
	font-size: 16px;
	border: none;
	cursor: pointer;
	transition: all .3s ease;
}
.select-image:hover {
	background: #e85656;
}
/*conteiner end*/

/*form start*/
.form__file{
    position: relative;
    align-items: center;
    justify-content: space-between;
}
.wrapper__form{
    margin: 0 auto;
    max-width: 1060px;
    padding: 140px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form__title{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.form__title-top{
    margin-bottom: 9px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;

    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #DD7979;
}
.form{
    width: 800px;
    padding: 53px 100px;
    border-radius: 10px;
    font-family: 'Lato';
    background-color: white;
    box-shadow: 8px 10px 17px rgba(0, 0, 0, 0.25);
    
}
.form__button{ 
    padding: 14px 18px;
    
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;

    background: #DD7979;;
    color: white;
    font-family: 'Lato';
    
    text-decoration: none;
    text-align: center;

    border: none;
    border-radius: 10px;
}
.form__button span{
    padding: 13px 108px;
}
.form__button:hover,.form__button:focus{
    background: #e85656;
}

.form__input{
    width: 260px;
    padding: 0 0 14px 0;
    border: none;
    border-bottom: 2px solid #e0e0e0;
    background-color: transparent;
    outline: none;
    transition: 0.3s;
}
.radio__group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.inline__in{
    display: flex;
    flex-wrap: wrap;
}
.inline__input{
    width: 310px;
}
.new__margin{
    margin-right: 68px;
}
.new__margin:last-child{
    margin-right: 0px;
}

.form__input:focus{
    border-bottom: 3px solid #DD7979;
}
.form__group.success input{
    border-color: #2ecc71;
}
.form__group.error input{
    border-color: #e74c3c;
    margin-bottom: 24px;
}
.form__group img{
    visibility: hidden;
    position: absolute;
    top: 0px;
    right: 20px;
}
.form__group.success img.fa-check-circle{
    color:#2ecc71;
    visibility: visible;
}
.form__group.error img.fa-exclamation-circle{
    color:#e74c3c;
    visibility: visible;
}
.form__group small{
    visibility: hidden;
    position: absolute;
    top: 45px;
    left: 0;
}
.form__group.error small{
    color:#e74c3c;
    visibility: visible;
}
.form__input:focus ~ .form__label,.form__input:not(:placeholder-shown)~ .form__label{
    top: -20px;
    font-size: 20px;
    color: rgba(158, 146, 146, 0.65);
}
.photo__input{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.input__item{
    margin-bottom: 83px;
}
.password__section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.form__group{
    position: relative;
     margin-bottom: 24px;
     z-index: 2;
 }
 .form__group:last-child{
    margin-bottom: 0;
 }
 .form__group span.form__span:last-child::after{
    display: block;
    content: '*This is not a required field to fill in. You can change it later';
    bottom: -45px;
    font-size: 16px;
    line-height: 20px;
    left: 0;
    position: absolute;
    color:#DD7979;
    margin-bottom: 0;
 }
 .form__label{
     position: absolute;
     top: 0;
     left: 1px;
     z-index: -1;
     color: #9e9e9ee5;
     transition: 0.3s;
 }
 .form__gender{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
 }
 .form__radio_group{
    position: relative;
    padding-left: 46px;
    margin-right: 20px;
 }
 .form__radio_group input[type="radio"]{
    display: none;
}
.form__radio_group input[type="radio"]:checked ~span:after{
    transform: translate(-50%, -50%) scale(1);
}
 .form__radio_group span{
    height: 36px;
    width: 36px;
    border-radius: 50%;
    border: 5px solid #744343;
    display: block;
    position: absolute;
    left: 5px;
    top: 0;
}
.form__radio_group span::after{
    content: " ";
    height: 16px;
    width: 16px;
    background: #744343;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    transition: 200ms ease-in-out 0s;


}
 .radio__lable{
    display: inline-block;
    vertical-align: middle;
 }
 .gender__label{
    margin-right: 20px;
 }
/*form end*/

/*date__section start*/
.date__title{
    margin-bottom: 42px;
}
.select__date{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 43px;
}

.date__input{
    width: 140px;
    max-width: 200px;

}
.date__input::before {
    content: "Элемент с классом " attr(".input__day");
  }
  
  .date__input::after {
    content: attr(value);
  }

.check__date{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 43px;
}
.custom-checkbox{
    font-size: 24px;
}
.custom-checkbox>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  .custom-checkbox>span {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  .custom-checkbox>span::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
  .custom-checkbox>input:not(:disabled):not(:checked)+span:hover::before {
    border-color: #da6b55;
  }
  .custom-checkbox>input:not(:disabled):active+span::before {
    background-color: #da6b55;
    border-color: #da6b55;
  }
  .custom-checkbox>input:focus:not(:checked)+span::before {
    border-color: #da6b55;
  }
  .custom-checkbox>input:checked+span::before {
    border-color: #744343;
    background-color: #744343;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }
  .custom-checkbox>input:disabled+span::before {
    background-color: #e9ecef;
  }

  input[type="number"] {
    position: relative;
	background-color: white;
	text-align: center;
	outline: none; 
    padding: 10px 20px;
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
	border: 1px solid #949494;
	font-size: 24px;
	border-radius: 13px;
} 
.input__time{
    margin-bottom: 10px;
}
.input__day{
    width: 100px;
}
 .input__month{
    width: 170px;
 }
 .input__year{
    width: 130px;
}
input[type="number"]:focus {
	outline: 2px solid #744343;
}
.password__input{
    margin-bottom: 20px;
}
.password__check{
    margin-bottom: 0;
}

/*date__section end*/

.registration__button{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}
.form__account{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-around;
    margin-bottom: 20px;
}