$themes: (
  light: (
    textColor: #000,
    bg: rgba(255, 210, 135, 0.65),
    logo: #927de6,
    buttons: #B098EE,
    bgSoft: white,
    textColorSoft: #744343,
    border: #FFD287,
    back:white,
  ),
  dark: (
    textColor: whitesmoke,
    bg: #222,
    logo: white,
    buttons: #927de6,
    bgSoft: #333,
    textColorSoft: lightgray,
    border: #444,
    back: black,
  ),
);

@mixin themify($themes) {
    @each $theme, $map in $themes {
      .theme-#{$theme} & {
        $theme-map: () !global;
        @each $key, $submap in $map {
          $value: map-get(map-get($themes, $theme), "#{$key}");
          $theme-map: map-merge(
            $theme-map,
            (
              $key: $value,
            )
          ) !global;
        }
        @content;
        $theme-map: null !global;
      }
    }
  }
  
  @function themed($key) {
    @return map-get($theme-map, $key);
  }
  