@import "../../style.scss";

.posts{
    @include themify($themes){
    padding: 20px 40px 40px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: themed("back");
  }
}