@import "../../style.scss";

.navbar{
    @include themify($themes){
display: flex;
align-items: center;
justify-content: space-between;
padding: 10px 20px;
height: 50px;
border-bottom: 1px solid themed("border");
position: sticky;
top: 0;
background-color: themed("bgSoft");
color: themed("textColor");
    
    .left{
        display: flex;
        align-items: center;
        gap: 30px;
        span{
            font-weight: bold;
            font-size: 20px;
            color: themed("logo");
        }
        /*.search{
            display: flex;
            align-items: center;
            gap: 10px;
            border: 1px solid lightgrey;
            border-radius: 5px;
            padding: 5px;
            input{
                border: none;
                width: 500px;
            }
            input:focus, input:active {
                border-bottom: 3px solid #DD7979;
            }
        }*/
        .search-box {
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            background:  themed("border");
            border-radius: 40px;
            padding: 10px;
            }
            .search-box:hover > .search-txt {
            width: 240px;
            padding: 0 6px;
            }
            .search-box:hover > .search-btn {
            background: white;
            color: #927de6;
            }
            .search-btn {
            color: rgb(35, 33, 33);
            float: right;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #927de6;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.4s;
            color: white;
            cursor: pointer;
            text-decoration:none;
            }
            .search-btn > i {
            font-size: 20px;
            }
            .search-txt {
            border: none;
            background: none;
            outline: none;
            float: left;
            padding: 0;
            color: themed("textColorSoft");
            font-size: 16px;
            transition: 0.4s;
            line-height: 40px;
            width: 0px;
            font-weight: bold;
            }
        .search-txt input{
            border: none;
            color: themed("textColorSoft");
        }
    }

    .right{
        display: flex;
        align-items: center;
        gap: 20px;
        .user{
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: 500;
            img{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                object-fit: cover;
            }
           
        }
    }
}
}